{% comment %}

	Solid State by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Site footer

	Description:

		Contact info, form, and footer.

	Example:

		{% include layout/footer.html %}

{% endcomment %}

<!-- Footer -->
	<section id="footer">
		<div class="inner">
			<h2 class="major">Get in touch</h2>
			<p>To keep up-to-date on the various things I'm doing, follow me on my social media!</p>
			<form method="post" action="#">
				<div class="field">
					<label for="name">Name</label>
					<input type="text" name="name" id="name" />
				</div>
				<div class="field">
					<label for="email">Email</label>
					<input type="email" name="email" id="email" />
				</div>
				<div class="field">
					<label for="message">Message</label>
					<textarea name="message" id="message" rows="4"></textarea>
				</div>
				<ul class="actions">
					<li><input type="submit" value="Send Message" /></li>
				</ul>
			</form>
			<ul class="contact">
				<li class="fa-instagram"><a href="https://instagram.com/gracekhieu">instagram.com/gracekhieu</a></li>
				<li class="fa-facebook"><a href="https://facebook.com/gracekhieuphotography">facebook.com/gracekhieuphotography</a></li>
				<li class="fa-envelope"><a href="#">khieug@gmail.com</a></li>
				<li class="fa-rss"><a href="https://gracekhieu.blogspot.com">gracekhieu.blogspot.com</a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; Untitled Inc. All rights reserved.</li>
			</ul>
		</div>
	</section>
